#banner {
  display: flex;
  padding-left: 50px;
  padding-top: 78px;
  width: 100%;
}
/*左*/
.info {
  flex: none;
  width: 25%;
  display: block;
}
/*方格文字*/
.word {
  position: absolute;
  margin: 530px 165px;
  color: rgb(255, 255, 255);
  text-align: center;
}
.big_word {
  font-size: 30px;
  font-weight: 700;
  margin-top: -5px;
}
/*左底圖*/
.info img {
  height: 800px;
  cursor: none;
}
/*圖案文字*/
.info_word {
  display: block;
  position: absolute;
  margin: 130px 50px;
}
.info_word p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  padding: 0px 80px;
  margin: 20px 0px;
}
.black_bg {
  background: #000;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

/*右*/
.pic {
  flex: none;
  z-index: -998;
  width: 75%;
  display: flex;
  justify-content: flex-end;
}
.pic img {
  height: 800px;
}
