#logIn {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: black;
  border-width: 2px;
  border-style: solid;
  width: 600px;
  height: 490px;
  display: none;
  background: white;
  z-index: 1001;
}
.log {
  width: 100%;
  z-index: 1001;
}
.logIn_close {
  height: 30px;
  width: 100%;
  border-bottom-color: black;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
}
.logIn_close img {
  height: 15px;
}
.logIn_title {
  height: 80px;
  width: 100%;
  border-bottom-color: black;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.logIn_input {
  height: 300px;
  width: 100%;
  border-bottom-color: black;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding-top: 40px;
  text-align: center;
}
.name input {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 0;
}
.name p {
  margin-left: -105px;
  margin-bottom: 10px;
}
.password {
  padding-top: 20px;
}
.password p {
  margin-left: -105px;
  margin-bottom: 10px;
}
.password input {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 0;
}
.password input::after {
  border-radius: 0;
}

.enter {
  background: #000;
  color: white;
  width: 190px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  margin-top: 110px;
}
.account {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newaccount {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  width: 190px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newaccount p {
  margin-bottom: 0;
}
.backdrop {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  z-index: 1000;
  backdrop-filter: blur(5px);
}
