#movie {
  padding-right: 50px;
  padding-left: 100px;
  margin-top: 100px;
  width: 100%;
}
.sort {
  display: flex;
}
.sort_left {
  width: 50%;
}
.sort_right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.sort_title {
  background: #000;
  color: rgb(255, 255, 255);
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  margin-bottom: 20px;
}
.more_btn_1 {
  background: rgb(255, 255, 255);
  border-color: black;
  border-width: 2px;
  border-style: solid;
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  margin-bottom: 20px;
}
.more_btn_2 {
  background: rgb(255, 255, 255);
  border-color: black;
  border-width: 2px;
  border-style: solid;
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  margin-bottom: 20px;
}

/*新番*/
.movie {
  height: 310px;
  width: 100%;
  background: rgb(255, 255, 255);
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
.new_frame {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  height: 100%;
  width: 200px;
}

.inner_line {
  background: rgb(0, 0, 0);
  height: 2px;
}
.new_frame img {
  width: 100%;
  height: 275px;
}
.new_info {
  width: 100%;
  height: 27px;
  background: rgb(255, 255, 255);
  display: flex;
  position: relative;
  justify-content: center;
}
.new_name {
  text-align: center;
  display: flex;
  font-size: 12px;
  margin: 0px;
  padding: 6px;
  overflow: hidden;
}
.word_filter {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 80%,
    rgba(255, 255, 255, 1)
  );
  position: absolute;
}
.new_more {
  display: none;
  margin-top: -20px;
}
.again_more {
  display: none;
  margin-top: -20px;
}

.movie_mobile {
  display: none;
}
@media (max-width: 576px) {
  .movie_mobile {
    display: block;
    margin-bottom: 40px;
  }
  .movie_desktop {
    display: none;
  }
  #movie {
    align-items: center;
    padding: 25px;
    margin-top: 0;
  }
  .sort_title {
    width: 100%;
    margin-top: -20px;
  }

  .title {
    width: 100%;
  }
  .new {
    width: 100%;
  }
  .again {
    width: 100%;
  }
  .movie {
    height: auto;
    margin-bottom: 20px;
    flex-wrap: none;
  }
  .new_frame {
    width: 150px;
    margin-bottom: 20px;
  }
  .new_frame img {
    height: 200px;
  }
  .more_btn_1 {
    margin-bottom: 0;
    width: 100%;
  }
  .more_btn_2 {
    margin-bottom: 0;
    width: 100%;
  }
  .new_more {
    margin-top: -px;
  }
}
