body {
  margin: 0px;
}
/*左邊*/
#left_bar {
  width: 50px;
  height: 100%;
  background: rgb(255, 255, 255);
  position: fixed;
  z-index: 999;
  border-right-color: black;
  border-right-width: 2px;
  border-right-style: solid;
  display: flex;
  align-items: center;
  font-family: "Fascinate", cursive;
  font-family: "Noto Sans TC", sans-serif;
}
/*左邊直字*/
.tag {
  transform: rotate(270deg);
  height: 70px;
  flex: none;
  text-align: center;
  margin-left: -20px;
}
/*nav*/
header {
  background: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  height: 80px;
  border-bottom-color: black;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  display: flex;
  align-items: center;
  padding-right: 50px;
  padding-left: 100px;
  z-index: 998;
}
.logo {
  flex: none;
  width: 20%;
}
.logIn {
  flex: none;
  width: 20%;
  display: flex;
  justify-content: flex-end;
}
.logo img {
  height: 40px;
}
.logIn img {
  height: 50px;
}
.nav_link {
  display: flex;
  justify-content: center;
  flex: none;
  width: 60%;
  font-family: "Fascinate", cursive;
  font-family: "Noto Sans TC", sans-serif;
}
.nav_link a {
  text-decoration: none;
  color: inherit;
  margin: 10%;
  flex: none;
  padding: 1% 2.5%;
}
.nav_link a:hover {
  background-color: black;
  color: rgb(255, 255, 255);
}
/*rwd*/
.desktop_nav {
  display: block;
}
.mobile_nav {
  display: none;
}
@media (max-width: 576px) {
  .desktop_nav {
    display: none;
  }
  .mobile_nav {
    display: block;
  }
}
/*手機*/
.nav {
  display: flex;
  position: fixed;
  width: 100%;
  height: 50px;
  background: rgb(255, 255, 255);
  border-bottom-color: black;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  align-items: center;
  justify-content: center;
}
.logo_mobile {
  flex: none;
  width: 44%;
  padding: 3%;
}
.menu_mobile {
  flex: none;
  display: flex;
  width: 44%;
  padding: 3%;
  justify-content: flex-end;
}
.logo_mobile img {
  height: 20px;
}

.menu_mobile img {
  height: 20px;
  flex: none;
}

#burger_menu {
  width: 50px;
  height: 100%;
  background: rgb(255, 255, 255);
  position: absolute;
  z-index: -999;
  border-right-color: black;
  border-right-width: 2px;
  border-right-style: solid;
  display: block;
  justify-content: flex-end;
  margin-top: 50px;
}
.link a {
  text-decoration: none;
  color: inherit;
}
.link a:hover {
  background-color: black;
  color: rgb(255, 255, 255);
}
.log img {
  height: 40px;
}
